*{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}
body{
    background-color: rgb(109, 103, 103);
}
.title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: -1;
}
/* LIKE butoon */

.like_button{
    position: absolute;
    z-index: 2;
    right: 17px;
    bottom: 25px;
    background: transparent;
    outline: none;
    border: none;
    transition: 0.2s;
    opacity: 0.3;
    visibility: hidden;
}
.like_button:hover{
    opacity: 0.8;
    background-color: grey;
    border-radius: 6px;
    box-shadow: 0 4px #999;
}
.like_button:active{
    box-shadow: 0 1px #999;
    transform: translateY(2px)
}
.like_logo{
    border: none;
    padding: 0px;
    width: 20px;
    transition: 0s;
}

img{
    width:300px;
    transition: 0.5s;
    border-radius: 5px;
    border: 6px solid rgb(126, 116, 116);
    border-radius: 4px;
    padding: 5px;
}

.row{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
}
.column{
    flex: 33.33%;
    padding: 10px;
    position: relative;
}

@media (max-width: 1000px){
    .like_logo{
        width: 60px;
    }
}
.like_logo + div {
    font-size: 15px;
}