body{
    background-color: rgb(40, 35, 35);
    max-width: 1400px;
    margin: auto;
}
.title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: -1;
}
/* Flip button */
.flip_button{
    position: absolute;
    z-index: 2;
    right: 17px;
    top: 17px;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.2s;
    opacity: 0.7;
}
.flip_logo{
    border: none;
    padding: 0px;
    width: 20px;
    transition: 0s;
    padding: 3px;
}
/* LIKE butoon */ 

.like_button{
    position: absolute;
    z-index: 2;
    right: 17px;
    bottom: 25px;
    background: transparent;
    outline: none;
    padding: 5px;
    border: none;
    transition: 0.2s;
    opacity: 0.7;
    visibility: hidden;
}
.like_button:hover, .flip_button:hover{
    opacity: 0.8;
    background-color: grey;
    opacity: 0.3;
    border-radius: 6px;
    box-shadow: 0 4px #999;
}
.like_button:active, .flip_button:active{
    box-shadow: 0 1px #999;
    transform: translateY(2px)
}
.like_logo{
    border: none;
    padding: 0px;
    width: 20px;
    transition: 0s;
}

img{
    width:400px;
    transition: 0.5s;
    border-radius: 5px;
    border: 6px solid rgb(86, 77, 77);
    padding: 5px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    transition: 1s;
}
.column{
    padding: 2px;
    justify-content: center;
    position: relative;
}

@media (max-width: 1000px){
    .like_logo{
        width: 60px;
    }
    .images{
        flex-direction: column;
        align-items: center;
    }
}
.like_logo + div {
    font-size: 15px;
}
.comments{
    width: 600px;
    height: 400px;
    text-align: center;
    border: 6px solid rgb(86, 77, 77);
    border-radius: 5px;

}

/* TEST */
